ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.container {
  padding: 0 200px 100px;
}

#hero-section {
  background-color: #1f2937;
  
}

.header {
  display: flex;
  padding: 16px 0 80px;
}

.logo {
  margin-right: auto;
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.hero-content .main-text {
  margin: 0;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  line-height: 1;
}

.hero-content .secondary-text {
  margin: 0;
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up {
  color: #f9faf8;
  background-color: #3882f6;
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.placeholder {
  width: 1000px;
  height: 240px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: grey;
  text-align: center;
}

.info-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.info-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.info {
  width: 160px;
  text-align: center;
}

.info-img {
  width: 160px;
  height: 160px;
  border: 4px solid #3882f6;
  border-radius: 8px;
}

#quote-section {
  padding-top: 100px;
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
}

#quote-section .quote-text {
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

#quote-section .quote-author {
  font-weight: bold;
  text-align: end;
  margin: 0;
}

#cta-section {
  padding-top: 100px;
}

.cta-wrapper {
  background-color: #3882f6;
  padding: 40px 80px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.cta-title {
  margin: 0;
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.cta-description {
  margin: 0;
  font-size: 18px;
  color: #e5e7eb;
}

#cta-section .sign-up {
  border: 2px solid #e5e7eb;
}

#footer-section {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
}