* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 8px;
  font-weight: bold;
  background-color: rgba(172, 194, 190, 0.4);
}

.container {
  width: 400px;
  margin: 40px auto;
  padding: 1rem;
  border: 2px dotted #ff2442;
}

.title, .recipe-title {
  text-align: center;
}

.title {
  padding: 1rem;
  margin: -1rem -1rem 1rem;
  color: hsl(140, 100%, 45%);
  font-family: Brush Script MT, cursive;
  background-color: azure;
}

.recipe-img {
  display: block;
  width: 300px;
  height: auto;
  margin: 0 auto;
}
