:root {
    --grid-width: 40%;
    --grid-columns: 16;
    --grid-gap: 1px;
    --total-grid-gap: calc((var(--grid-columns) - 1) * var(--grid-gap));
    --square-width: calc((100% - var(--total-grid-gap)) / var(--grid-columns));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    width: var(--grid-width);
    background-color: #000;
    border: 1px solid #000;
}

.square {
    width: var(--square-width);
    aspect-ratio: 1 / 1; 
    background-color: #fff;
}

.filled {
    background-color: #3b82f6;
}